<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<!-- Begin Page Content -->
<div class="container-fluid" layout:fragment="content">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">TIL 인증</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">TIL 인증 목록</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>내용</th>
            <th>취소여부</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="crt : ${tilcrtList}">
            <td><a th:href="@{/root/til/crt/{id}(id=${crt.getId()})}" th:text="${crt.getDescription()}"></a></td>
            <td th:text="${crt.getDenied() ? '정상' : '취소'}"></td>
          </tr>

          </tbody>
        </table>
        <nav aria-label="..." style="float: right">
          <ul class="pagination" th:with="start=${T(Math).floor(tilcrtList.number/10)*10 + 1},
                                last=(${start + 9 < tilcrtList.totalPages ? start + 9 : tilcrtList.totalPages})">
            <li class="page-item disabled">
              <a th:href="${tilcrtList.first} ? '#' : @{/root/til/crt(page=${tilcrtList.number - 1})}"
                 aria-label="Previous">
                <span class="page-link" aria-hidden="true">&lt;</span>
              </a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, last)}"
                th:class="${page == tilcrtList.number + 1} ? 'page-item active'">
              <th:block th:if="${page}">
                <a class="page-link" th:text="${page}" th:href="@{/root/til/crt(page=${page}-1)}"></a>
              </th:block>
            </li>
            <li th:class="${tilcrtList.last} ? 'disabled'">
              <a th:href="${tilcrtList.last} ? '#' : @{/root/til/crt(page=${tilcrtList.number + 1})}"
                 aria-label="Next">
                <span class="page-link" aria-hidden="true">&gt;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal-->


</html>