<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<!-- Begin Page Content -->
<div class="container-fluid" layout:fragment="content">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">TIL 인증 상세</h1>
  </div>

  <div class="row">

    <div class="col-lg-8">
      <form action="/root/til/crt" method="post">
        <input type="hidden" name="id" th:value="${crt.getId()}">
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" id="name" name="name"
                   th:value="${crt.getName()}" readonly>
          </div>
        </div>

        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">내용</label>
          <div class="col-sm-10">
            <textarea class="form-control-plaintext" id="description" name="description"
                      th:text="${crt.getDescription()} ? ${crt.getDescription()} : '-'" readonly></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="startTime" class="col-sm-2 col-form-label">시작시간</label>
          <div class="col-sm-6">
            <input type="datetime-local" class="form-control-plaintext" id="startTime"
                   th:value="${crt.getStartTime()}" readonly>
          </div>
        </div>

        <div class="form-group row">
          <label for="endTime" class="col-sm-2 col-form-label">종료시간</label>
          <div class="col-sm-6">
            <input type="datetime-local" class="form-control-plaintext" id="endTime"
                   th:value="${crt.getEndTime()}" readonly>
          </div>
        </div>


        <div class="form-group row">
          <label for="watchTime" class="col-sm-2 col-form-label">스톱워치</label>
          <div class="col-sm-10">
            <input type="datetime-local" class="form-control-plaintext" id="watchTime"
                   th:value="${crt.getWatchTime()}" readonly>
          </div>
        </div>

        <div class="form-group row">
          <label for="open" class="col-sm-2 col-form-label">공개여부</label>
          <div class="col-sm-10">
            <select class="custom-select" th:value="${crt.isOpen()}" id="open" name="open">
              <option th:value="0" th:text="비공개" th:selected="!${crt.isOpen()}"></option>
              <option th:value="1" th:text="공개" th:selected="${crt.isOpen()}"></option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="denied" class="col-sm-2 col-form-label">승인여부</label>
          <div class="col-sm-10">
            <select class="custom-select" th:value="${crt.isDenied()}" id="denied" name="denied">
              <option th:value="0" th:text="승인" th:selected="!${crt.isDenied()}"></option>
              <option th:value="1" th:text="거부" th:selected="${crt.isDenied()}"></option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="denied" class="col-sm-2 col-form-label">첨부파일</label>
          <div class="col-sm-10">
            <th:block th:each="file : ${files}">
              <a th:href="@{/root/til/download/{id}(id=${file.getId()})}" th:text="${file.getOriginalName()}"></a>
            </th:block>
          </div>
        </div>

        <div class="form-group row">
          <button type="submit" class="btn btn-primary">수정</button>
        </div>

      </form>
    </div>
  </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
</html>