<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<!-- Begin Page Content -->
<div class="container-fluid" layout:fragment="content">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">TIL 상세</h1>
  </div>

  <div class="row">

    <div class="col-lg-8">
      <form action="#" method="post">
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">목표</label>
          <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" id="title" name="title"
                   th:value="${til.getSubject()}" readonly>
          </div>
        </div>

        <div class="form-group row">
          <label for="content" class="col-sm-2 col-form-label">내용</label>
          <div class="col-sm-10">
            <textarea class="form-control-plaintext" id="content" name="content"
                      th:text="${til.getDescription()} ? ${til.getDescription()} : '-'" readonly></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="startDate" class="col-sm-1 col-form-label">시작일</label>
          <div class="col-sm-4">
            <input type="datetime-local" class="form-control" id="startDate" name="startDate"
                   th:value="${til.getStartDate()}" readonly>
          </div>
          ~
          <label for="endDate" class="col-sm-1 col-form-label">종료일</label>
          <div class="col-sm-4">
            <input type="datetime-local" class="form-control" id="endDate" name="endDate"
                   th:value="${til.getEndDate()}" readonly>
          </div>
        </div>

        <div class="form-group row">
          <label for="cycleStatus" class="col-sm-2 col-form-label">주기</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="cycleStatus"
                   th:value="${til.getCycleStatus()}">
          </div>
        </div>

        <div class="form-group row">
          <label for="cycleCnt" class="col-sm-2 col-form-label">현재인증횟수</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="cycleCnt"
                   th:value="${til.getCycleCnt()}">
          </div>
        </div>

        <div class="form-group row">
          <label for="expired" class="col-sm-2 col-form-label">만료여부</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="expired"
                   th:value="${til.isExpired() ? '만료' : '만료전'}">
          </div>
        </div>

        <div class="form-group row">
          <label for="regDate" class="col-sm-2 col-form-label">작성일</label>
          <div class="col-sm-10">
            <input type="datetime-local" readonly class="form-control-plaintext" id="regDate"
                   th:value="${til.getRegDate()}">
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr/>
  <div class="table-responsive">
    <h5 class="h5 mb-0 text-gray-800">TIL 인증 목록</h5>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>인증내용</th>
        <th>취소여부</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="crt : ${tilcrtList}">
        <td><a th:href="@{/root/til/crt/{id}(id=${crt.getId()})}" th:text="${crt.getDescription()}"></a></td>
        <td th:text="${crt.isDenied() ? '거부' : '승인'}"></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<th:block layout:fragment="javascript">
  <script>
    $(function(){
      $(".dataTables_length").css("display", "none");
    })

  </script>
</th:block>
</html>