<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<!-- Begin Page Content -->
<div class="container-fluid" layout:fragment="content">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">TIL</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">TIL 목록</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>no</th>
            <th>목표</th>
            <th>만료여부</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="til, index : ${tilList}">
            <td th:text="${(tilList.getNumber() * tilList.getSize() + 1) + index.index}"></td>
            <td><a th:href="@{/root/til/{id}(id=${til.getId()})}" th:text="${til.getSubject()}"></a></td>
            <td th:text="${til.isExpired() ? '만료' : '만료전'}"></td>
          </tr>

          </tbody>
        </table>
        <nav aria-label="..." style="float: right">
          <ul class="pagination" th:with="start=${T(Math).floor(tilList.number/10)*10 + 1},
                                last=(${start + 9 < tilList.totalPages ? start + 9 : tilList.totalPages})">
            <li class="page-item disabled">
              <a th:href="${tilList.first} ? '#' : @{/root/til(page=${tilList.number - 1})}"
                 aria-label="Previous">
                <span class="page-link" aria-hidden="true">&lt;</span>
              </a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, last)}"
                th:class="${page == tilList.number + 1} ? 'page-item active'">
              <th:block th:if="${page}">
                <a class="page-link" th:text="${page}" th:href="@{/root/til(page=${page}-1)}"></a>
              </th:block>
            </li>
            <li th:class="${tilList.last} ? 'disabled'">
              <a th:href="${tilList.last} ? '#' : @{/root/til(page=${tilList.number + 1})}"
                 aria-label="Next">
                <span class="page-link" aria-hidden="true">&gt;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal-->


</html>