<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<!-- Begin Page Content -->
<div class="container-fluid" layout:fragment="content">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">회원 관리</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">회원 관리</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>no</th>
            <th>email</th>
            <th>state</th>
            <th>created date</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user, index : ${userList}">
            <td th:text="${(userList.getNumber() * userList.getSize() + 1) + index.index}"></td>
            <td><a th:href="@{/root/user/{id}(id=${user.getId()})}" th:text="${user.getEmail()}"></a></td>
            <td th:text="${user.getState()}"></td>
            <td th:text="${#temporals.format(user.getRegDate(), 'yyyy-MM-dd HH:mm:ss')}"></td>
          </tr>

          </tbody>
        </table>
        <nav aria-label="..." style="float: right">
          <ul class="pagination" th:with="start=${T(Math).floor(userList.number/10)*10 + 1},
                                last=(${start + 9 < userList.totalPages ? start + 9 : userList.totalPages})">
            <li class="page-item disabled">
              <a th:href="${userList.first} ? '#' : @{/root/user(page=${userList.number - 1})}" aria-label="Previous">
                <span class="page-link" aria-hidden="true">&lt;</span>
              </a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == userList.number + 1} ? 'page-item active'">
              <th:block th:if="${page}">
                <a class="page-link" th:text="${page}" th:href="@{/root/user(page=${page}-1)}"></a>
              </th:block>
            </li>
            <li th:class="${userList.last} ? 'disabled'">
              <a th:href="${userList.last} ? '#' : @{/root/user(page=${userList.number + 1})}" aria-label="Next">
                <span class="page-link" aria-hidden="true">&gt;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="../login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

</html>