<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<!-- Begin Page Content -->
<div class="container-fluid" layout:fragment="content">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">회원 상세</h1>
  </div>

  <div class="row">

    <div class="col-lg-8">
      <form action="/root/user" method="post">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="email" name="email"
                   th:value="${user.getEmail()}">
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="name" name="name"
                   th:value="${user.getName()}">
          </div>
        </div>
        <div class="form-group row">
          <label for="provider" class="col-sm-2 col-form-label">가입경로</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="provider" name="authProvider"
                   th:value="${user.getAuthProvider()}">
          </div>
        </div>

        <div class="form-group row">
          <label for="exp" class="col-sm-2 col-form-label">exp</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="exp" name="exp"
                   th:value="${user.getExp()} ? ${user.getExp()} : '0'">
          </div>
        </div>

        <div class="form-group row">
          <label for="blog" class="col-sm-2 col-form-label">blog 주소</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="blog" name="blogUrl"
                   th:value="${user.getBlogUrl()} ? ${user.getBlogUrl()} : '-'">
          </div>
        </div>
        <div class="form-group row">
          <label for="github" class="col-sm-2 col-form-label">github 주소</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="github" name="githubUrl"
                   th:value="${user.getGithubUrl()} ? ${user.getGithubUrl()} : '-'">
          </div>
        </div>
        <div class="form-group row">
          <label for="sns" class="col-sm-2 col-form-label">sns 주소</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="sns" name="snsUrl"
                   th:value="${user.getSnsUrl()} ? ${user.getSnsUrl()} : '-'">
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">소개</label>
          <div class="col-sm-10">
            <textarea readonly class="form-control-plaintext" id="description" name="description"
                      th:text="${user.getDescription()} ? ${user.getDescription()} : '-'"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="tier" class="col-sm-2 col-form-label">티어</label>
          <div class="col-sm-10">
            <select class="custom-select" th:value="${user.getTier()}" id="tier" name="tier">
              <option th:selected="${user.getTier()} == 'NONE'" disabled>---</option>
              <option th:value="1" th:text="BRONZE" th:selected="${user.getTier()} == 1"></option>
              <option th:value="2" th:text="SILVER" th:selected="${user.getTier()} == 2 "></option>
              <option th:value="3" th:text="GOLD" th:selected="${user.getTier()} == 3"></option>
              <option th:value="4" th:text="PLATINUM" th:selected="${user.getTier()} == 4"></option>
              <option th:value="5" th:text="DIAMOND" th:selected="${user.getTier()} == 5"></option>
              <option th:value="6" th:text="MASTER" th:selected="${user.getTier()} == 6"></option>
              <option th:value="7" th:text="GRANDMASTER" th:selected="${user.getTier()} == 7"></option>
              <option th:value="8" th:text="CHALLENGE" th:selected="${user.getTier()} == 8"></option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="state" class="col-sm-2 col-form-label">상태</label>
          <div class="col-sm-10">
            <select class="custom-select" th:value="${user.getState()}" id="state" name="state">
              <option th:selected="${user.getState()} == 'NONE'" disabled>---</option>
              <option th:value="ACT" th:text="사용중" th:selected="${user.getState()} == 'ACT'"></option>
              <option th:value="STOP" th:text="중지" th:selected="${user.getState()} == 'STOP'"></option>
              <option th:value="DEL" th:text="탈퇴" th:selected="${user.getState()} == 'DEL'"></option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="role" class="col-sm-2 col-form-label">권한</label>
          <div class="col-sm-10">
            <select class="custom-select" th:value="${user.getRole()}" id="role" name="role">
              <option th:value="ADMIN" th:text="ADMIN" th:selected="${user.getRole()} == 'ADMIN'"></option>
              <option th:value="USER" th:text="USER" th:selected="${user.getRole()} == 'USER'"></option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="memo" class="col-sm-2 col-form-label">관리자 메모</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="memo" name="memo"
                      th:text="${user.getMemo()} ? ${user.getMemo()} : '-'"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="regDate" class="col-sm-2 col-form-label">가입일</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="regDate"
                   th:value="${#temporals.format(user.getRegDate(), 'yyyy-MM-dd HH:mm:ss')}">
          </div>
        </div>

        <div class="form-group row">
          <label for="lastLoginDate" class="col-sm-2 col-form-label">마지막 로그인</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="lastLoginDate"
                   th:value="${#temporals.format(user.getLastLoginDate(), 'yyyy-MM-dd HH:mm:ss')}">
          </div>
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-primary">수정</button>
        </div>
      </form>
    </div>
  </div>

</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>


</html>